 .selection-container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

.card-grid {
   color: var(--primary-dim);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.selection-card {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.2s, border 0.2s;
    border: 2px solid transparent;
}

.selection-card:hover {
    transform: translateY(-5px);
    border-color: var(--primary-color);
}

.breadcrumbs {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 20px;
}

.crumb-link {
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: underline;
}

.locked-input {
    background-color: #f0f0f0;
    color: #555;
    cursor: not-allowed;
}

.upload-btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.upload-btn-primary.disabled {
    background-color: #ccc; /* Gray */
    cursor: not-allowed;
    opacity: 0.7;
}

.upload-btn-primary.disabled:hover {
    background-color: #ccc; /* No hover effect */
    transform: none; /* No movement */
}

.status-note {
    color: #e74c3c; /* Red warning text */
    font-size: 0.8rem;
    margin-top: 5px;
}
 
 .footer-foot{
    align-items: center;
    margin-top: 100%;

 }

 .header-head{
    margin-top:100px;
    margin-left: 20px;
 }
